__pycache__/
*.pyc
*.pyo
*.pyd
.Python/

env/
venv/
*.env

.idea/
.vscode/

*.log
db.sqlite3
media/
static_cdn/
/app/core/settings_local.py

*.retry
*.vault_pass.txt
.ansible/ 
ansible/group_vars/all/vault_secrets.yml